*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: rgb(126, 126, 126);
}
p{
    font-size: 0.8rem;
    margin: 0.7rem 0rem;
}
label{
    position: relative;
}
#passwordViwer{
    width: 1.5rem;
    position: absolute;
    right: 4%;
    top: 0;
    bottom: 0;
    opacity: 60%;
}
img{
    width: 4rem;
}
.content{
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    color: rgb(89, 89, 89);
}
#mobileOrEmail, #fullName,#username,#password{
    padding: 0.7rem;
    width: 100%;
    margin-bottom: 0.2rem;
    border: solid 1px rgb(220, 220, 220);
    border-radius: 0.2rem;
    background-color: white;
    outline: none;
}
#singUpButton{
    padding: 0.7rem;
    width: 100%;
    margin-top: 0.2rem;
    background-color: #3897F0;
    border: none;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    color: white;
    outline: none;
}
#loginButton:active{
    background-color: #338bde;
}
#terms{
    text-align: center;
    font-size: 0.9rem;
    
}
#singWithFB{
    padding: 0.7rem;
    width: 100%;
    margin-top: 0.2rem;
    background-color: #3897F0;
    border: none;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    color: white;
    outline: none;
}
#singWithFB{
    background-color: #338bde;
}

#orDiv{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem;
}
#orP{
    margin: 0rem 0.8rem;
    font-weight: 600;
}

#FBlogin{
    margin-top: 2rem;
    color: #3897F0;
    font-weight: 600;
}
#haveAccount{
    margin-top: 80%;
}
#frase{
    margin-bottom: 2rem;
    font-size: 0.9rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(89, 89, 89);
}